body {
    font-family: Geneva, Tahoma, sans-serif;
}

div {
    padding-top: 3%;
    padding-bottom: 1%;
    text-align: center;
}

h1 {
    padding-top: 5%;
    font-size: 280%;
    text-align: center;
}

h2 {
    padding-top: 5%;
    font-size: 170%;
}

p {
    font-size: 130%;
    margin: 5%;
    padding-inline: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
}

img {
    padding-top: 0.75%;
}

button {
    background-color: azure;
    font-size: 150%;
    padding: 3%;
    margin: 1%;
    border: none;
}

.entry {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(230, 243, 250);
}

.tabcontent {
    margin-top: 0.75%;
}

.light {
    background-color: aliceblue;
}

.dark {
    background-color: rgb(207, 228, 247);
}

.in {
    margin-left: 5%;
    margin-right: 5%;
}
